@using Products.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Home Page";
    var db = new ApplicationDbContext();
    var userAuthenticated = User.Identity.IsAuthenticated;
    var greeting = (userAuthenticated ? "Hi " + User.Identity.Name + "! " : string.Empty) + "Welcome to our products management";
    var userId = userAuthenticated ? User.Identity.GetUserId<int>() : default(int);
    var user = db.Users.FirstOrDefault(x => x.Id == userId);
    var personViewModel = new PersonViewModel();
    if (user != null)
    {
        personViewModel.LoadPerson(user.PersonId, true);
    }
}

    <div class="jumbotron">
        <h1>Products</h1>
        <p class="lead">@greeting</p>
        @if (userAuthenticated)
        {
            if (User.IsInRole("Admin"))
            {
                <a class="btn btn-default" href="@Url.Action("Persons", "Person")">User manage</a>
                <a class="btn btn-primary" href="@Url.Action("LoginsHistory", "Account")">Login history</a>
                <a class="btn btn-success" href="@Url.Action("ProductsReserveAdmin", "Product")">Products Reservations</a>
                <a class="btn btn-warning" href="@Url.Action("ProductsAdmin", "Product")">Products</a>
            }
            else
            {
                <a class="btn btn-success" href="@Url.Action("ProductsReserve", "Product")">My Reservations</a>
                <a class="btn btn-warning" href="@Url.Action("Products", "Product")">Products</a>
            }
        }
    </div>
@if (userAuthenticated)
{
    <div class="row">
        <div class="col-md-8">
            <h2>About you</h2>
            @Html.Partial("~/Views/Person/_AboutPerson.cshtml", personViewModel)
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/home.js")"></script>
}
